html, body {
    font-family: Arial, sans-serif;

}

body{
    background-image: url(img/background.jpg);
    background-size:cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px; 
    height: 650px;
    background-color: rgba(4, 4, 4, 0.275); /* modifica l'opacità*/ 
    border: 2px solidrgba rgba(16, 15, 15, 0.186); /* modifica l'opacità*/



}


.container{
    width: 1000px;
    margin: auto;
    
    
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh; 
    width: 20%;  
}

.text{
    font-size: 50px;
    text-align: center;
    color: #adff2f;
    
}

.row{
    background-color: #adff2f;
    height: 5vh;  
    text-align: center;
       
    
}

.menu1{
    display: inline-block;
    
}

.menu2{
    display: inline-block;
   
}

.menu3{
    display: inline-block;
    
}

.ref{
    text-align:left;
    color: rgb(250, 250, 243);
    height: 5vh; 

}
.ref1{
    display: inline-block;
    
}
.gino22{
    display: inline-block;
}
.subtitulo{
    text-align:left;
    color: rgb(250, 250, 243);
    height: 5vh; 
}
.testo1{
    display: inline-block;

}
.indirizzo{
    display: inline-block;
}
h3, h4{
    margin: 0;
}
.linea-grosa {
    height: 30px; 
    background-color: #f0bb3f; 
    width: 30%; 
}

.linea-grosa1{
    height: 30px; 
    background-color: #47f492; 
    width: 60%; 
}

.linea-grosa2{
    height: 30px; 
    background-color: #f81d1d; 
    width: 15%; 
}

